<container class="footer">
  <spacer size="30px"></spacer>
  <row class="footer-main-row">
    <columns style="width: 75%" large="6">
      <img src="https://i.postimg.cc/FFJQhDRL/adobe-icon.png" alt="adobe icon"
    /></columns>

    <columns small="2" large="2">
      <a href="#">
        <img
          class="facebook"
          src="https://i.postimg.cc/kX3PGK6h/fb-icon.png"
          alt="facebook icon"
        />
      </a>
    </columns>

    <columns small="2" large="2">
      <a href="#">
        <img
          class="icons"
          src="https://i.postimg.cc/4N6k9yp4/linkedin-icon.png"
          alt="facebook icon"
        />
      </a>
    </columns>
    <columns small="2" large="2">
      <a href="#">
        <img
          class="icons"
          src="https://i.postimg.cc/3x3MChZX/twitter-icon.png"
          alt="facebook icon"
        />
      </a>
    </columns>
  </row>

  <row class="footer-main-row">
    <columns>
      <spacer size="30"></spacer>
      <p>
        Adobe services, like Adobe Document Cloud, are available only to users
        13 and older. Use of Adobe services and applications requires agreement
        with the applicable Terms of Use and the Adobe Privacy Policy.
      </p>
      <spacer size="15"></spacer>
      <p>
        Adobe, the Adobe logo, Acrobat, Adobe Document Cloud, the Adobe PDF
        logo, and Document Cloud are either registered trademarks or trademarks
        of Adobe in the United States and/or other countries. All other
        trademarks are the property of their respective owners.
      </p>
      <spacer size="15"></spacer>
      <p>
        This is a marketing email from Adobe, 345 Park Avenue, San Jose, CA
        95110 USA. Click here to unsubscribe. Please review the Adobe Privacy
        Policy.
      </p>
      <spacer size="15"></spacer>
      <p>
        To ensure email delivery, add mail@mail.adobe.com to your address book,
        contacts, or safe sender list.
      </p>
      <p>Read online</p>
    </columns>
  </row>
</container>
